
*, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #353434;
}

.contentContainer {
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: #1f1f1f;
    height: 70px;
    border-bottom: 2px solid red;
}

    .header .logo {
        margin: 10px;
        float: left;
        width: 50px;
        border-radius: 5px;
    }

    .header h1 {
        padding-top: 15px;
        text-align: center;
        color: whitesmoke;
        font-family: 'Gruppo', cursive;
    }

    .header a {
        text-decoration: none;
    }

.TopMenu {
    background-color: #0d0d0d;
    height: 50px;
}

.menuList {
    color: white;
}

    .menuList li {
        float: left;
        list-style-type: none;
        margin-left: 15px;
        margin-top: 15px;
    }

        .menuList li a {
            padding-bottom: 5px;
            text-decoration: none;
            color: white;
            padding-bottom: 14px;
        }

            .menuList li a:hover {
                border-bottom: 2px solid red;
            }

.loginDesc {
    margin-top: 15px;
    float: right;
}

    .loginDesc .exitBtn {
        float: right;
        padding: 6px;
        text-decoration: none;
        margin-right: 25px;
        margin-top: -5px;
        background-color: #1370C4;
        border-radius: 5px;
        width: 50px;
        text-align: center;
        font-weight: 900;
        color: white;
    }

        .loginDesc .exitBtn:hover {
            opacity: 0.7;
        }



    .loginDesc .LoginName {
        padding-right: 20px;
        color: white;
    }



.Table {
    margin-left: auto;
    margin-right: auto;
    color: whitesmoke;
}

    .Table td {
        color: black;
    }

    .Table thead tr {
        background-color: #4d4949;
    }

        .Table thead tr th {
            padding: 5px;
        }

    .Table tbody tr {
        background-color: #d1d1d1;
    }

    .Table tbody td {
        padding: 5px;
        border-bottom: 1px solid red;
    }

    .Table .banBTN {
        text-decoration: none;
        background-color: red;
        color: whitesmoke;
        padding: 5px;
        border-radius: 10px 0px 0px 10px;
        -moz-border-radius: 10px 0px 0px 10px;
        -webkit-border-radius: 10px 0px 0px 10px;
        border: 0px solid #000000;
    }

    .Table .unbanBTN {
        text-decoration: none;
        background-color: #1370C4;
        color: whitesmoke;
        padding: 5px;
        border-radius: 0px 10px 10px 0px;
        -moz-border-radius: 0px 10px 10px 0px;
        -webkit-border-radius: 0px 10px 10px 0px;
        border: 0px solid #000000;
    }

    .Table .dltBTN {
        text-decoration: none;
        color: whitesmoke;
        background-color: #111111;
        padding: 5px;
        border-radius: 5px;
    }

        .Table .dltBTN:hover {
            opacity: 0.7;
        }

    .Table .unbanBTN:hover {
        opacity: 0.7;
    }

    .Table .banBTN:hover {
        opacity: 0.7;
    }

.AdminAddContainer {
    border-right: 1px solid red;
    border-left: 1px solid red;
    border-radius: 7px;
    margin-top: 25px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    color: whitesmoke;
    background-color: #1F1F1F;
}

    .AdminAddContainer .AdminAddContainerTitle {
        padding: 5px;
        text-align: center;
        border-bottom: 1px solid red;
    }

    .AdminAddContainer .row {
        padding: 5px;
        margin-left: 50px;
    }

    .AdminAddContainer .textBox {
        margin-top: 5px;
        width: 250px;
        height: 25px;
        border-radius: 5px;
        background-color: #d1d1d1;
        border: none;
        font-family: Calibri;
    }

    .AdminAddContainer .AddBtn {
        text-decoration: none;
        color: whitesmoke;
        background-color: #1370C4;
        padding: 5px;
        border-radius: 5px;
        display: block;
        width: 100px;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }

        .AdminAddContainer .AddBtn:hover {
            opacity: 0.7;
        }

    .AdminAddContainer .pnlSuccessful {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid red;
        display: block;
        background-color: #0D0D0D;
    }

    .AdminAddContainer .pnlEror {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid red;
        display: block;
        background-color: #0D0D0D;
        color: red;
    }

.AdminList .adminControlBtns {
    margin: 25px;
    text-align: center;
}

    .AdminList .adminControlBtns .activeAdmBtn {
        text-decoration: none;
        color: whitesmoke;
        background-color: #1F1F1F;
        padding: 10px;
        border-radius: 5px;
        border-bottom: 1px solid red;
    }

        .AdminList .adminControlBtns .activeAdmBtn:hover {
            opacity: 0.7;
        }

    .AdminList .adminControlBtns .passiveAdmBtn {
        text-decoration: none;
        color: whitesmoke;
        background-color: #1F1F1F;
        padding: 10px;
        border-radius: 5px;
        border-bottom: 1px solid red;
    }

        .AdminList .adminControlBtns .passiveAdmBtn:hover {
            opacity: 0.7;
        }

.AdminList .deactivateBtn {
    text-decoration: none;
    background-color: red;
    color: whitesmoke;
    padding: 4px;
    border-radius: 5px;
    font-weight: 700;
}

    .AdminList .deactivateBtn:hover {
        opacity: 0.5;
    }

.AdminList .activateBtn {
    text-decoration: none;
    background-color: green;
    color: whitesmoke;
    padding: 4px;
    border-radius: 5px;
    font-weight: 700;
}

.categoryList .categoryProcessBtn {
    font-size: 14px;
    text-decoration: none;
    color: whitesmoke;
    background-color: #353434;
    padding: 4px;
    border-radius: 5px;
}

    .categoryList .categoryProcessBtn:hover {
        color: red;
    }

.categoryList .categoryAddlinkBtn {
    justify-content: center;
    text-decoration: none;
    padding: 7px;
    background-color: #0D0D0D;
    border-radius: 5px;
    color: whitesmoke;
    border-bottom: 1px solid red;
}

    .categoryList .categoryAddlinkBtn:hover {
        opacity: 0.6;
    }

.categoryList .linkCategoryAdd {
    text-align: center;
    margin: 15px;
}

.categoryAddContainer {
    border-right: 1px solid red;
    border-left: 1px solid red;
    border-radius: 7px;
    margin-top: 25px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    color: whitesmoke;
    background-color: #1F1F1F;
}

    .categoryAddContainer .row {
        padding: 7px;
        margin-left: 50px;
    }

    .categoryAddContainer .textBox {
        margin-top: 5px;
        width: 250px;
        height: 25px;
        border-radius: 5px;
        background-color: #d1d1d1;
        border: none;
        font-family: Calibri;
    }

    .categoryAddContainer .fuImgAdd {
        margin-top: 5px;
        color: whitesmoke;
    }

        .categoryAddContainer .fuImgAdd:hover {
            opacity: 0.6;
        }

.categoryAddContainerTitle {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid red;
}

.categoryAddContainer .pnlSuccessful {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid red;
    display: block;
    background-color: #0D0D0D;
}

.categoryAddContainer .pnlEror {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid red;
    display: block;
    background-color: #0D0D0D;
    color: red;
}

.categoryAddContainer .addCategoryBtn {
    text-decoration: none;
    padding: 5px;
    background-color: #1370C4;
    color: whitesmoke;
    border-radius: 5px;
    display: block;
    width: 60px;
    text-align: center;
}

    .categoryAddContainer .addCategoryBtn:hover {
        opacity:0.6;
    }
