
*, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #353434;
}

.contentContainer {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: #1f1f1f;
    height: 70px;
    border-bottom: 2px solid red;
}

    .header .logo {
        margin: 10px;
        float: left;
        width: 50px;
        border-radius: 5px;
    }

    .header h1 {
        padding-top: 15px;
        text-align: center;
        color: whitesmoke;
        font-family: 'Gruppo', cursive;
    }

    .header a {
        text-decoration: none;
    }

.TopMenu {
    background-color: #0d0d0d;
    height: 50px;
}

.menuList {
    color: white;
}

    .menuList li {
        float: left;
        list-style-type: none;
        margin-left: 15px;
        margin-top: 15px;
    }

        .menuList li a {
            padding-bottom: 5px;
            text-decoration: none;
            color: white;
            padding-bottom: 14px;
            font-family: Calibri;
        }

            .menuList li a:hover {
                border-bottom: 2px solid red;
            }

.loginDesc {
    margin-top: 15px;
    float: right;
}

    .loginDesc .exitBtn {
        float: right;
        padding: 6px;
        text-decoration: none;
        margin-right: 25px;
        margin-top: -5px;
        background-color: #1370C4;
        border-radius: 5px;
        width: 50px;
        text-align: center;
        font-weight: 900;
        color: white;
    }

        .loginDesc .exitBtn:hover {
            opacity: 0.7;
        }



    .loginDesc .LoginName {
        padding-right: 20px;
        color: white;
    }



.Table {
    margin-left: auto;
    margin-right: auto;
    color: whitesmoke;
}

    .Table td {
        color: black;
    }

    .Table thead tr {
        background-color: #4d4949;
    }

        .Table thead tr th {
            padding: 5px;
        }

    .Table tbody tr {
        background-color: #d1d1d1;
    }

    .Table tbody td {
        padding: 5px;
        border-bottom: 1px solid red;
    }

    .Table .banBTN {
        text-decoration: none;
        background-color: red;
        color: whitesmoke;
        padding: 5px;
        border-radius: 10px 0px 0px 10px;
        -moz-border-radius: 10px 0px 0px 10px;
        -webkit-border-radius: 10px 0px 0px 10px;
        border: 0px solid #000000;
    }

    .Table .unbanBTN {
        text-decoration: none;
        background-color: #1370C4;
        color: whitesmoke;
        padding: 5px;
        border-radius: 0px 10px 10px 0px;
        -moz-border-radius: 0px 10px 10px 0px;
        -webkit-border-radius: 0px 10px 10px 0px;
        border: 0px solid #000000;
    }

    .Table .dltBTN {
        text-decoration: none;
        color: whitesmoke;
        background-color: #111111;
        padding: 5px;
        border-radius: 5px;
    }

        .Table .dltBTN:hover {
            opacity: 0.7;
        }

    .Table .unbanBTN:hover {
        opacity: 0.7;
    }

    .Table .banBTN:hover {
        opacity: 0.7;
    }

.menuList .downBtn {
    color: red;
    margin-left: 5px;
}

.menuList a:hover {
    opacity: 0.7;
}

.AdminAddContainer {
    border-right: 1px solid red;
    border-left: 1px solid red;
    border-radius: 7px;
    margin-top: 25px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    color: whitesmoke;
    background-color: #1F1F1F;
}

    .AdminAddContainer .AdminAddContainerTitle {
        padding: 5px;
        text-align: center;
        border-bottom: 1px solid red;
    }

    .AdminAddContainer .row {
        padding: 5px;
        margin-left: 50px;
    }

    .AdminAddContainer .textBox {
        margin-top: 5px;
        width: 250px;
        height: 25px;
        border-radius: 5px;
        background-color: #d1d1d1;
        border: none;
        font-family: Calibri;
        border:none;
        outline:none;
        padding-left:3px;
    }

    .AdminAddContainer .AddBtn {
        text-decoration: none;
        color: whitesmoke;
        background-color: #1370C4;
        padding: 5px;
        border-radius: 5px;
        display: block;
        width: 100px;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }

        .AdminAddContainer .AddBtn:hover {
            opacity: 0.7;
        }

    .AdminAddContainer .pnlSuccessful {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid red;
        display: block;
        background-color: #0D0D0D;
    }

    .AdminAddContainer .pnlEror {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid red;
        display: block;
        background-color: #0D0D0D;
        color: red;
    }

.AdminList .adminControlBtns {
    margin: 25px;
    text-align: center;
}

    .AdminList .adminControlBtns .activeAdmBtn {
        text-decoration: none;
        color: whitesmoke;
        background-color: #1F1F1F;
        padding: 10px;
        border-radius: 5px;
        border-bottom: 1px solid red;
    }

        .AdminList .adminControlBtns .activeAdmBtn:hover {
            opacity: 0.7;
        }

    .AdminList .adminControlBtns .passiveAdmBtn {
        text-decoration: none;
        color: whitesmoke;
        background-color: #1F1F1F;
        padding: 10px;
        border-radius: 5px;
        border-bottom: 1px solid red;
    }

        .AdminList .adminControlBtns .passiveAdmBtn:hover {
            opacity: 0.7;
        }

.AdminList .deactivateBtn {
    text-decoration: none;
    background-color: red;
    color: whitesmoke;
    padding: 4px;
    border-radius: 5px;
    font-weight: 700;
}

    .AdminList .deactivateBtn:hover {
        opacity: 0.5;
    }

.AdminList .activateBtn {
    text-decoration: none;
    background-color: green;
    color: whitesmoke;
    padding: 4px;
    border-radius: 5px;
    font-weight: 700;
}

    .AdminList .activateBtn:hover {
        opacity: 0.6;
    }

.AdminAddContainer .AddBackBtn {
    color: #1370C4;
    float: right;
    padding: 5px;
    margin: 10px;
}

.AdminList .adminRemoveBtn {
    text-decoration: none;
    padding: 4px;
    background-color: #1F1F1F;
    color: whitesmoke;
    border-radius: 5px;
}

    .AdminList .adminRemoveBtn:hover {
        opacity: 0.6;
    }

.AdminAddContainer .AddBackBtn:hover {
    opacity: 0.7;
}

.categoryList .categoryProcessBtn {
    font-size: 14px;
    text-decoration: none;
    color: whitesmoke;
    background-color: #353434;
    padding: 4px;
    border-radius: 5px;
}

    .categoryList .categoryProcessBtn:hover {
        color: red;
    }

.categoryList .categoryAddlinkBtn {
    justify-content: center;
    text-decoration: none;
    padding: 7px;
    background-color: #0D0D0D;
    border-radius: 5px;
    color: whitesmoke;
    border-bottom: 1px solid red;
}

    .categoryList .categoryAddlinkBtn:hover {
        opacity: 0.6;
    }

.categoryList .linkCategoryAdd {
    text-align: center;
    margin: 15px;
}

.categoryAddContainer {
    border-right: 1px solid red;
    border-left: 1px solid red;
    border-radius: 7px;
    margin-top: 25px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    color: whitesmoke;
    background-color: #1F1F1F;
}

.categoryList .categoryUpdateBtn {
    font-size: 14px;
    text-decoration: none;
    color: whitesmoke;
    background-color: #353434;
    padding: 4px;
    border-radius: 5px;
}

    .categoryList .categoryUpdateBtn:hover {
        color: red;
    }

.categoryAddContainer .row {
    padding: 7px;
    margin-left: 50px;
}

.categoryAddContainer .textBox {
    margin-top: 5px;
    width: 250px;
    height: 25px;
    border-radius: 5px;
    background-color: #d1d1d1;
    border: none;
    font-family: Calibri;
    border: none;
    outline: none;
    padding-left: 3px;
}

.categoryAddContainer .fuImgAdd {
    margin-top: 5px;
    color: whitesmoke;
}

    .categoryAddContainer .fuImgAdd:hover {
        opacity: 0.6;
    }

.categoryAddContainerTitle {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid red;
}

.categoryAddContainer .pnlSuccessful {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid red;
    display: block;
    background-color: #0D0D0D;
}

.categoryAddContainer .pnlEror {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid red;
    display: block;
    background-color: #0D0D0D;
    color: red;
}

.categoryAddContainer .addCategoryBtn {
    text-decoration: none;
    padding: 5px;
    background-color: #1370C4;
    color: whitesmoke;
    border-radius: 5px;
    display: block;
    width: 60px;
    text-align: center;
}

    .categoryAddContainer .addCategoryBtn:hover {
        opacity: 0.6;
    }

.categoryAddContainer .AddBackBtn {
    color: #1370C4;
    float: right;
    padding: 5px;
    margin: 10px;
}

    .categoryAddContainer .AddBackBtn:hover {
        opacity: 0.7;
    }

.commentControlBtn {
    margin: 25px;
    text-align: center;
}

    .commentControlBtn .cmdControlBtn {
        text-decoration: none;
        color: whitesmoke;
        background-color: #1F1F1F;
        padding: 10px;
        border-radius: 5px;
        border-bottom: 1px solid red;
    }

        .commentControlBtn .cmdControlBtn:hover {
            opacity: 0.7;
        }



.commentList .CommentBanBtn {
    text-decoration: none;
    color: whitesmoke;
    background-color: red;
    padding: 4px;
    border-radius: 5px;
    font-size: 12pt;
}

    .commentList .CommentBanBtn:hover {
        background-color: #c25858;
    }

.commentList .ApprovedBtn {
    text-decoration: none;
    background-color: #3ca734;
    padding: 4px;
    border-radius: 5px;
    font-size: 12pt;
    color: whitesmoke;
}

    .commentList .ApprovedBtn:hover {
        opacity: 0.8;
    }

.answersList .Table td {
    max-width: 850px;
    overflow-wrap: break-word;
}

.answersList .CommentBanBtn {
    text-decoration: none;
    color: whitesmoke;
    background-color: #c25858;
    padding: 4px;
    border-radius: 5px;
    font-size: 12pt;
}

    .answersList .CommentBanBtn:hover {
        background-color: red;
    }

.paragraphsList {
    width: 100%;
}

    .paragraphsList .paragraphControl {
        text-align: center;
        margin-top: 15px;
    }

    .paragraphsList .paragraphBanBtn {
        text-decoration: none;
        color: whitesmoke;
        background-color: #c25858;
        padding: 4px;
        border-radius: 5px;
        font-size: 12pt;
        display: flex;
        margin-bottom: 3px;
    }

        .paragraphsList .paragraphBanBtn:hover {
            background-color: red;
        }

    .paragraphsList .ParagraphUpdateBtn {
        text-decoration: none;
        color: whitesmoke;
        background-color: #c25858;
        padding: 4px;
        border-radius: 5px;
        font-size: 12pt;
        display: flex;
        margin-bottom: 3px;
    }

        .paragraphsList .ParagraphUpdateBtn:hover {
            background-color: red;
        }

    .paragraphsList .paragraphAddLink {
        margin-top: 15px;
        text-decoration: none;
        color: whitesmoke;
        background-color: #1F1F1F;
        padding: 10px;
        border-radius: 5px;
        border-bottom: 1px solid red;
    }

        .paragraphsList .paragraphAddLink:hover {
            opacity: 0.7;
        }

.ParagraphAddContainer {
    border-right: 1px solid red;
    border-left: 1px solid red;
    border-radius: 7px;
    margin-top: 25px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    color: whitesmoke;
    background-color: #1F1F1F;
}

    .ParagraphAddContainer .ParagraphAddContainerTitle {
        padding: 5px;
        text-align: center;
        border-bottom: 1px solid red;
    }

    .ParagraphAddContainer .row {
        padding: 5px;
        margin-left: 50px;
    }

    .ParagraphAddContainer .textBox {
        margin-top: 5px;
        width: 250px;
        height: 25px;
        border-radius: 5px;
        background-color: #d1d1d1;
        border: none;
        font-family: Calibri;
        border: none;
        outline: none;
        padding-left: 3px;
    }

    .ParagraphAddContainer .AddBtn {
        text-decoration: none;
        color: whitesmoke;
        background-color: #1370C4;
        padding: 5px;
        border-radius: 5px;
        display: block;
        width: 100px;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }

        .ParagraphAddContainer .AddBtn:hover {
            opacity: 0.7;
        }

    .ParagraphAddContainer .pnlSuccessful {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid red;
        display: block;
        background-color: #0D0D0D;
    }

    .ParagraphAddContainer .pnlEror {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid red;
        display: block;
        background-color: #0D0D0D;
        color: red;
    }

    .ParagraphAddContainer .AddBackBtn {
        color: #1370C4;
        float: right;
        padding: 5px;
        margin: 10px;
    }

        .ParagraphAddContainer .AddBackBtn:hover {
            opacity: 0.7;
        }
    .ParagraphAddContainer .dllCategory {
        border:none;
        outline:none;
        border-radius:4px;
    }

    .ParagraphUpdateContainer {
        border-right: 1px solid red;
        border-left: 1px solid red;
        border-radius: 7px;
        margin-top: 25px;
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        color: whitesmoke;
        background-color: #1F1F1F;
    }

    .ParagraphUpdateContainer .ParagraphUpdateContainerTitle {
        padding: 5px;
        text-align: center;
        border-bottom: 1px solid red;
    }

    .ParagraphUpdateContainer .row {
        padding: 5px;
        margin-left: 50px;
    }

    .ParagraphUpdateContainer .textBox {
        margin-top: 5px;
        width: 250px;
        height: 25px;
        border-radius: 5px;
        background-color: #d1d1d1;
        border: none;
        outline: none;
        padding-left: 3px;
        font-family: Calibri;
    }

    .ParagraphUpdateContainer .AddBackBtn {
        color: #1370C4;
        float: right;
        padding: 5px;
        margin: 10px;
    }

        .ParagraphUpdateContainer .AddBackBtn:hover {
            opacity: 0.7;
        }



    .ParagraphUpdateContainer .UpdateBtn {
        text-decoration: none;
        color: whitesmoke;
        background-color: #1370C4;
        padding: 5px;
        border-radius: 5px;
        display: block;
        width: 100px;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }

        .ParagraphUpdateContainer .UpdateBtn:hover {
            opacity: 0.7;
        }

    .ParagraphUpdateContainer .pnlSuccessful {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid red;
        display: block;
        background-color: #0D0D0D;
    }

    .ParagraphUpdateContainer .pnlEror {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid red;
        display: block;
        background-color: #0D0D0D;
        color: red;
    }

.ParagraphDetail .imgDetails {
    width: 600px;
    float: left;
    margin-right: 20px;
    border-radius: 10px;
}

.ParagraphDetail .row {
    margin-top: 25px;
}

.ParagraphDetail .title {
    color: #9b3434;
    text-align: center;
}

.ParagraphDetail .brief {
    margin-top:30px;
    color: #827f7f;
    font-size: 12pt;
}

    .ParagraphDetail .brief h2 {
        color: whitesmoke;
    }

.ParagraphDetail .content {
    color: #827f7f;
    font-size: 15pt;
}

    .ParagraphDetail .content h2 {
        color: whitesmoke;
    }

.ParagraphDetail .views {
    margin-top: 15px;
    margin-bottom: 12px;
    font-weight: 900;
}

    .ParagraphDetail .views i {
        padding: 5px;
        font-size: 15pt;
        padding-right: 10px;
    }


.ParagraphDetail .dateTime {
    font-weight: 900;
}

    .ParagraphDetail .dateTime i {
        padding: 5px;
        font-size: 15pt;
        padding-right: 10px;
    }

.ParagraphDetail i {
    font-size: 20pt;
    color: #285bd3;
}

    .ParagraphDetail i:hover {
        font-size: 20pt;
        color: white;
    }

.CategoryUpdateContainer {
    border-right: 1px solid red;
    border-left: 1px solid red;
    border-radius: 7px;
    margin-top: 25px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    color: whitesmoke;
    background-color: #1F1F1F;
}

    .CategoryUpdateContainer .UpdateBtn {
        text-decoration: none;
        color: whitesmoke;
        background-color: #1370C4;
        padding: 5px;
        border-radius: 5px;
        display: block;
        width: 100px;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }

        .CategoryUpdateContainer .UpdateBtn:hover {
            opacity: 0.7;
        }

    .CategoryUpdateContainer .textBox {
        margin-top: 5px;
        width: 250px;
        height: 25px;
        border-radius: 5px;
        background-color: #d1d1d1;
        border: none;
        font-family: Calibri;
    }

    .CategoryUpdateContainer .CategoryUpdateTitle {
        padding: 5px;
        text-align: center;
        border-bottom: 1px solid red;
    }

    .CategoryUpdateContainer .row {
        padding: 5px;
        margin-left: 50px;
    }

    .CategoryUpdateContainer .AddBackBtn {
        color: #1370C4;
        float: right;
        padding: 5px;
        margin: 10px;
    }

        .CategoryUpdateContainer .AddBackBtn:hover {
            opacity: 0.7;
        }

    .CategoryUpdateContainer .pnlSuccessful {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid red;
        display: block;
        background-color: #0D0D0D;
    }

    .CategoryUpdateContainer .pnlEror {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid red;
        display: block;
        background-color: #0D0D0D;
        color: red;
    }

.complaintSuggestionContorlBtn {
    margin: 25px;
    text-align: center;
}

    .complaintSuggestionContorlBtn .readAndToBeReadBtn {
        margin-top: 15px;
        text-decoration: none;
        color: whitesmoke;
        background-color: #1F1F1F;
        padding: 10px;
        border-radius: 5px;
        border-bottom: 1px solid red;
    }

        .complaintSuggestionContorlBtn .readAndToBeReadBtn:hover {
            opacity: 0.7;
        }

.complaintSuggestionList .removeBtn {
    text-decoration: none;
    color: whitesmoke;
    background-color: red;
    padding: 5px;
    border-radius: 4px;
    font-size: 12pt;
    margin-left: 10px;
}

    .complaintSuggestionList .removeBtn:hover {
        opacity: 0.6;
    }

.complaintSuggestionList .readBtn {
    text-decoration: none;
    color: whitesmoke;
    background-color: #1b971a;
    padding: 4px;
    border-radius: 4px;
    font-size: 12pt;
    margin-left: 10px;
}

    .complaintSuggestionList .readBtn:hover {
        opacity: 0.6;
    }
