*, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
/*.backgroundImg {
    width: 100%;
    position: absolute;
    
}*/
.img {
    width: 100%;
    position: absolute;
}

.loginContainer {
    width: 380px;
    height: 420px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    background-color: rgba(255,255,255,0.13);
    box-shadow: 0 0 40px rgb(8 7 16 / 60%);
    border: 2px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    border-radius: 7px;
}

    .loginContainer .title {
        color: white;
        text-align: center;
        margin-top: 50px;
        font-family: 'Poppins', sans-serif;
    }

    .loginContainer i {
        float: right;
        color: whitesmoke;
        font-size: 25px;
        margin: 25px;
    }

        .loginContainer i:hover {
            color: #636bc1;
        }

    .loginContainer .LoginContent {
        margin-top: 30px;
        margin-left: 70px;
    }

        .loginContainer .LoginContent .row {
            margin-bottom: 20px;
        }

            .loginContainer .LoginContent .row h3 {
                color: whitesmoke;
                margin: 5px;
            }

        .loginContainer .LoginContent .texBox {
            width: 240px;
            height: 33px;
            border-radius: 7px;
            background-color: #37373E;
            border: none;
            color: #808080;
            padding-left: 7px;
            outline:none;

        }

        .loginContainer .LoginContent .row .loginBtn {
            background-color: #FFFFFF;
            width: 212px;
            display: block;
            text-align: center;
            text-decoration: none;
            font-weight: 900;
            color: black;
            padding: 15px;
            border-radius: 5px;
        }

            .loginContainer .LoginContent .row .loginBtn:hover {
                background-color: #1b1919;
                color: #FFFFFF;
            }

    .loginContainer .pnlEror {
        margin-left: 22px;
        color: whitesmoke;
    }

.RegisterContainer {
    margin-top: -70px;
    width: 380px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    background-color: rgba(255,255,255,0.13);
    box-shadow: 0 0 40px rgb(8 7 16 / 60%);
    border: 2px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    border-radius: 7px;
}

    .RegisterContainer i {
        float: right;
        color: whitesmoke;
        font-size: 25px;
        margin: 25px;
    }

        .RegisterContainer i:hover {
            color: #636bc1;
        }

    .RegisterContainer .title {
        color: white;
        text-align: center;
        margin-top: 30px;
        font-family: 'Poppins', sans-serif;
    }

    .RegisterContainer .RegisterContent {
        margin-top: 5px;
        margin-left: 60px;
    }

        .RegisterContainer .RegisterContent .row {
            margin-bottom: 10px;
        }

            .RegisterContainer .RegisterContent .row h4 {
                color: whitesmoke;
                margin: 5px;
            }

        .RegisterContainer .RegisterContent .texBox {
            width: 240px;
            height: 28px;
            border-radius: 7px;
            background-color: #37373E;
            border: none;
            outline:none;
            color: #808080;
            padding-left: 7px;
        }

        .RegisterContainer .RegisterContent .row .loginBtn {
            margin-top: 5px;
            background-color: #FFFFFF;
            width: 212px;
            display: block;
            text-align: center;
            text-decoration: none;
            font-weight: 900;
            color: black;
            padding: 15px;
            border-radius: 5px;
        }

            .RegisterContainer .RegisterContent .row .loginBtn:hover {
                background-color: #1b1919;
                color: #FFFFFF;
            }

    .RegisterContainer .row .pnlEror {
        text-align: center;
        padding: 5px;
        color: whitesmoke;
    }

    .RegisterContainer .row .pnlSucces {
        padding: 5px;
        color: whitesmoke;
        text-align: center;
    }
