*, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.BlogPagesContainer {
}

    .BlogPagesContainer .row {
        margin-top: 20px;
        margin-left: 25px;
        text-align: center;
        float: left;
    }

        .BlogPagesContainer .row h2 {
            position: absolute;
            font-size: 25px;
            color: white;
            margin-top: 85px;
            margin-left: 95px;
        }



    .BlogPagesContainer .images img {
        border-bottom: 3px solid red;
        width: 365px;
        border-radius: 15px;
        float: left;
    }

    .BlogPagesContainer .images .contentLink {
        margin-left: 15px;
        text-decoration: none;
        font-size: 10pt;
        color: black;
        background-color: whitesmoke;
        padding: 5px;
        border-radius: 5px;
    }

        .BlogPagesContainer .images .contentLink:hover {
            color: whitesmoke;
            background-color: #000000;
        }

.ParagraphDetail .imgDetails {
    margin-top: 20px;
    width: 700px;
    height: 300px;
    margin-left: 250px;
    border-radius: 50px;
    border-bottom: 3px solid red;
}

.ParagraphDetail .views {
    margin-left: 90px;
    padding: 10px;
    float: left;
}

.ParagraphDetail .dateTime {
    padding: 10px;
    float: left;
}

.ParagraphDetail .title {
    margin: 20px;
    text-align: center;
}

.ParagraphDetail .content {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    font-size: 16pt;
    color: whitesmoke;
    word-spacing: 5px;
}
